# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env/
venv/

# pytest cache
test-results/
pytest_cache/
*create_tracking_lambda.zip

# Terraform specific
.terraform/
terraform.tfstate*
*.tfstate.backup
*.terraform.lock.hcl

# AWS credentials and secrets
*.pem
*.key
*.secrets

# Logs and temp files
*.log
.DS_Store
*.swp

# Ignore lambda zip files
lambda/*.zip